<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/about.css">
    <script src="https://kit.fontawesome.com/ab47bdee74.js" 
    crossorigin="anonymous"></script>
    <title>About Us</title>
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <a href="/"><img src="/images/about/travelogo-PhotoRoom.png-PhotoRoom.png" alt="LOGO" /> </a>
            <div class="ulAndBtn">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/book/about">About</a></li>
                <li><a href="/book/booking">Book</a></li>
                <li><a href="/book/contact">Contact</a></li>
            </ul>
            <a href="/client/signUp">
                <button>Get started</button>
            </a>
        </div>
        </nav>
    <div class="body">
        <div class="welcome">
            <div class="lone1">
                <h1>Exquisite Travel Experiences and Unparalleled Expertise </h1>
                <br><br>
                <p>Welcome to Travel, your gateway to unforgettable travel experiences! We are passionate about crafting journeys that transform ordinary vacations into extraordinary adventures. With a deep love for exploration and a commitment to exceptional service, we are here to guide you on a voyage of discovery that will leave you with cherished memories and a thirst for more.</p>
            </div>
            <div class="lone2">
                <img src="download (2).jpg" alt="">
            </div>
           </div>
            <div class="fea">
                <h2>Why Choose Us</h2>
                <div class="divide">
                    <div class="trans">
                        <img src="download (3).jpg" alt="">
                        <h3></h3>
                        <p>Expertise: Our team of seasoned travel experts brings a wealth of knowledge and insights to the table. 
                            We've scoured the globe, personally experiencing and handpicking the best locations, accommodations, and activities to guarantee an unparalleled vacation.
                        </p>
                    </div>
                    <div class="trans">
                        <img src="download (4).jpg" alt="">
                        <h3></h3>
                        <p>Personalization: We understand that every traveler is unique, and so are their preferences. Our customized itineraries ensure that your trip reflects your interests, allowing you to create cherished memories in your own way.</p>
                    </div>
                    <div class="trans">
                        <img src="download (5).jpg" alt="">
                        <h3></h3>
                        <p>Responsible Travel: We are dedicated to sustainable and responsible tourism. By collaborating with local communities and implementing eco-friendly practices, we strive to leave a positive footprint and preserve the beauty of our planet for generations to come.</p>
                    </div>
                    <div class="trans">
                        <img src="images.jpeg" alt="">
                        <h3></h3>
                        <p>Customer-Centric Approach: Your comfort and satisfaction are our top priorities. Our attentive and friendly staff are available around the clock to assist you, ensuring a smooth and stress-free travel experience from the moment you book until you return home.</p>
                    </div>
                    <div class="trans">
                        <img src="pexels-asad-photo-maldives-1268855.jpg" alt="">
                        <h3></h3>
                        <p>At Travel, our mission is to connect travelers with the world's 
                            most captivating destinations, cultures, and natural wonders. We believe that
                             travel enriches the soul fostering a deeper understanding of the diverse tapes
                             try that makes up our planet. With every tour  both our guests and the communities we visit.</p>
                    </div>
                    <div class="trans">
                        <img src="./Cloud + Plane Logo Concept.jpg" alt="">
                        <h3></h3>
                        <p>Immerse yourself in the essence of travel with Travel. Our meticulously designed tours blend adventure, relaxation, and cultural immersion, ensuring you savor each moment of your journey. </p>
                    </div>
                </div>
                <h2>What we do</h2>
                <div class="we">
                    <div class="do">
                        <ul>
                            <li><i class="fa-solid fa-arrow-trend-up"></i></li>
                            <li><h4>More than budgets</h4></li>
                            <li><span>At Travel, we specialize in curating exquisite travel experiences that go beyond the ordinary.
                                 Our dedicated team of travel enthusiasts and experts work tirelessly to handcraft each journey
                                 , ensuring that every moment of your trip is filled with wonder, excitement, and discovery. </span></li>
                        </ul>
                    </div>
                    <div class="do">
                        <ul>
                            <li><i class="fa-solid fa-chart-pie"></i></li>
                            <li><h4>Compare Contrast</h4></li>
                            <li><p>Your travel dreams are as unique as you are, and that's why we believe in the power of personalization. At Travel, we take the time to listen to your desires, interests, and aspirations.</p></li>
                        </ul>
                    </div>
                    <div class="do">
                        <ul>
                            <li><i class="fa-solid fa-people-arrows"></i></li>
                            <li><h4>The Human Touch</h4></li>
                            <li><span>With years of experience in the travel industry, Travel has amassed unparalleled expertise and knowledge that we are eager to share with you. Our team's passion for exploration drives us to continuously seek out the best destinations, accommodatio
                                ns, and activities, guaranteeing that you embark on a voyage of 
                                the highest quality.</span></li>
                        </ul>
                    </div>
                </div>
                <div class="next">
                    <h2>We obsesssss about security.</h2>
                    <p>Embark on a journey of a lifetime with Travel. Whether you're a solo traveler, a couple seeking romance, or a family eager to explore, we invite you to discover the world with us. <br>
                      <br>                  
                      Uncover the hidden gems, embrace new cultures, and create unforgettable memories that will last a lifetime.<br><br>
                        Your adventure starts here! </p>
                </div>
            </div>
    </div>
    <footer>
        <div class="n2">
            <h5><img src="travelogo-PhotoRoom.png-PhotoRoom.png" alt=""></h5>
            <p>Beyond crafting excep or simply. </p>
            <p>we are committed to providing unwa</p>
            <p>need assistance during  </p>
        </div>
        <div class="n3">
            <h5>Company</h5><br>
            <p>About</p><br>
            <p>Terms of use</p><br>
            <p>Privacy policy</p><br>
            <p>How it works</p><br>
            <p>Contanct us</p><br>
        </div>
        <div class="n4">
            <h5>Support</h5><br>
            <p>Support Once</p><br>
            <p>2nd support</p><br>
            <p>Quick chat</p><br>
        </div>
        <div class="n5">
            <h5>Contact</h5><br>
            <p>watsapp</p><br>
            <p>Contact345</p><br>
            <h5>Follow for more:</h5>
            <ul>
                <div class="social">
                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-envelopes-bulk"></i></a></li>
            </ul>
        </div>
    </footer>
    </div>
</body>
</html>