<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./editprofile.css" type="text/css">
    <title>User profile</title>
</head>
<body>
    <h3>Profile</h3>
    <p>Am a tourist/ a torost guide</p>
    <div class="container">
        <div class="me">
            <h5>About me</h5>
            <h2>Hello!</h2>
            <h6>Lorem ipsum, dolor sit amet consecteturbr <br><br>
                 adipisicing elit. Sequi provident nulla labore debitis <br><br>
                 libero itaque distinctio sed, id architecto fuga magni <br>
                 <br> pariatur sapiente fugiat, at dolores tempore temporibus praesentium perferendis?</h6>
        </div>
        <div class="image">
            <img src="./images.jpg" alt="">
        </div>
        <div class="details">
            <h1>Details</h1>
            <h4>Name: </h4><br>
            <span>BATETE Ange Nadette</span> <br>
            <h4>Age: </h4><br>
            <span>16 years old</span><br>
            <h4>Location: </h4><br>
            <span>Rwamda -Nyarugenge <br>Nyamirambo</span> <br>
            <h4>Email: </h4> <br>
            <span><% req.body.email %></span><br>
            <h4>Phone number</h4>
            <span><% req.body.phoneNumber %></span> <br>
            <button>Save profile</button>
        </div>
    </div>
</body>
</html>