<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
     <link rel="stylesheet" href="/css/styles.css">
     <script src="/js/imgSlider.js"></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
     <nav class="navbar">
          <a href="/">
               <img src="/images/images/travelogobg.png" alt="LOGO" />
          </a>
          <div class="ulAndBtn">
               <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/book/userProfile">About</a></li>
                    <li><a href="/book/booking">Book</a></li>
                    <li><a href="/client/contact">Contact</a></li>
               </ul>

               <a href="/client/signUp">
                    <button>Sign up</button>
               </a>
          </div>
     </nav>

     <div class="body-contents">
          <div class="sliderAndDesc">
               <div class="slider">
                    <div class="slides">

                         <input type="radio" name="radio-btn" id="radio1">
                         <input type="radio" name="radio-btn" id="radio2">
                         <input type="radio" name="radio-btn" id="radio3">
                         <input type="radio" name="radio-btn" id="radio4">

                         <div class="slide first">
                              <img src="./images/images/Rectangle23.png" alt="">
                         </div>

                         <div class="slide">
                              <img src="./images/images/wp2693839-backpack-wallpapers.jpg" alt="">
                         </div>

                         <div class="slide">
                              <img src="./images/images/wp3812060-tourist-wallpapers.jpg" alt="">
                         </div>

                         <div class="slide">
                              <img src="./images/images/wp3812067-tourist-wallpapers.jpg" alt="">
                         </div>
                         <div class="navigation-auto">
                              <div class="auto-btn1"></div>
                              <div class="auto-btn2"></div>
                              <div class="auto-btn3"></div>
                              <div class="auto-btn4 "></div>
                         </div>

                    </div>

                    <div class="navigation-manual">
                         <label for="radio1" class="manual-btn"></label>
                         <label for="radio2" class="manual-btn"></label>
                         <label for="radio3" class="manual-btn"></label>
                         <label for="radio4" class="manual-btn"></label>
                    </div>

               </div>

               <div class="sliderDesc">
                    <p>
                         Your fast and more effective touristic sites for you
                    </p>

                    <a href="/client/signUp">
                         <button>
                              Get started
                         </button>
                    </a>
               </div>
          </div>

          <div class="exploreTheWorld">
               <div class="explore">
                    <img src="./images/images/luggage.png" alt="">
                    <h3>Move with us</h3>
                    <p>Embark on unforgettable journeys with us at our tourism website. Discover new horizons, experience diverse cultures, and create cherished memories as you explore the world's wonders</p>
               </div>
               <div class="explore">
                    <img src="./images/images/global.png" alt="">
                    <h3>Travel the world</h3>
                    <p>Unlock the Wonders of Our Planet: Embark on a Journey to Travel the World with Us. Experience the beauty of diverse cultures, breathtaking landscapes, and extraordinary adventures as we navigate the globe together, creating stories to last a lifetime</p>
               </div>
               <div class="explore">
                    <img src="./images/images/car.png" alt="">
                    <h3>Explore by traveling</h3>
                    <p>Experience the world through the lens of exploration as you embark on journeys that redefine the art of traveling. With 'Explore by Traveling,' we invite you to embrace curiosity and discovery, as we navigate through remarkable destinations, uncharted paths, and authentic encounters</p>
               </div>
               <div class="explore">
                    <img src="./images/images/black-plane.png" alt="">
                    <h3>Pass the borders</h3>
                    <p>Embrace Boundless Adventures with 'Pass the Borders': Embark on a Journey of Discovery. Uncover hidden gems, immerse yourself in diverse cultures, and create lasting memories as we traverse the world's landscapes, inviting you to expand your horizons and enrich your perspective through travel</p>
               </div>
          </div>
          <div class="subscribe">
               <div class="firstDiv">
                    <div class="image1">
                         <img src="./images/images/below/colosseum.jpg" alt="">
                    </div>
                    <div>
                         <p>
                              The Colosseum, located in the heart of Rome, Italy, is an ancient amphitheater renowned for its grandeur and historical significance. A marvel of Roman engineering and architecture, it once hosted spectacular gladiatorial contests and public spectacles, showcasing the city's cultural and entertainment prowess.</p>
                    </div>
               </div>
               <div class="secondDiv">
                    <div>
                         <p>The hills offer a retreat from the hustle and bustle of daily life, inviting you to unwind and disconnect from the digital world. Walking along the trails, you can feel the earth beneath your feet, grounding you in the present moment. </p>
                    </div>
                    <div class="image2">
                         <img src="./images/images/adventure1.jpg" alt="">
                    </div>
               </div>
          </div>
          <div class="subFooter">
               <div class="image">
                    <img src="./images/images/below/travel2.jpg" alt="">
               </div>
               <div class="desc">
                    <p class="purple">We benefit all that works with us</p>
                    <h2>Benefits</h2>
                    <p>Engaging in adventures brings a host of benefits that enrich both body and mind. From boosting self-confidence and fostering resilience to cultivating a sense of exploration and expanding horizons, adventures open doors to personal growth and discovery.</p>
                    <ul>
                         <div>
                              <li>Book your seats as fast as possible </li>
                              <li>Book your seats as fast as possible</li>
                         </div>
                         <div>
                              <li>Book your seats as fast as possible</li>
                              <li>Book your seats as fast as possible</li>
                         </div>
                    </ul>
               </div>
          </div>
          <div class="subAndFooter">
               <footer>
                    <div class="footerDiv">
                         <h4>Screder</h4>
                         <p>
                              Lorem ipsum dolor sit amet, consectetur
                              adipisicing elit. Libero ad cupiditate adip
                              isci impedit possimus
                         </p>
                    </div>

                    <div class="footerDiv">
                         <h4>
                              Company
                         </h4>
                         <ul>
                              <li><a href="/book/userProfile">About</a></li>
                              <li>Terms of use</li>
                              <li>Privacy Policy</li>
                              <li>How it works</li>
                              <li>Contact Us</li>
                         </ul>
                    </div>

                    <div class="footerDiv">
                         <h4>
                              Support
                         </h4>
                         <ul>
                              <li>Help</li>
                              <li>Contact us</li>
                              <li>Question</li>
                         </ul>
                    </div>
                    <div class="footerDiv">
                         <h4>Contact</h4>
                         <ul>
                              <li>Whatsapp</li>
                              <li>Contact </li>
                         </ul>

                         <p>Follow for more: </p>
                         <div class="footer-icons">
                              <i class="fa-brands fa-instagram"></i>
                              <i class="fa-brands fa-linkedin"></i>
                              <i class="fa-brands fa-whatsapp"></i>
                              <i class="fa-brands fa-twitter"></i>
                              <i class="fa-brands fa-facebook"></i>
                         </div>
                    </div>
               </footer>
          </div>
     </div>
</body>

</html>