<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/signup.css" type="text/css">
    <title>Sign up page</title>
</head>
<body>
    <div class="container">
        <div class="image">
            <img src="/images/travel-and-tourism-vector-10096717.jpg" alt="">
        </div>
        <div class="all">
            <h2>Create an account</h2>
            <p>on Travel</p>
            <form action="/client/addClient" method="POST">
                <input type="text" name="name"  placeholder="Name"> <br>
                <input type="text" name="email"  placeholder="Email"> <br>
                <div class="email error"></div>
                <input type="text" name="phoneNumber"  placeholder="Phone Number"> <br>
                <div class="tel error"></div>
                <input type="password" name="password"  placeholder="password"><br>
                <div class="password error"></div>

                <!-- <label for="">Upload photo: </label>
                <input type="file" name="photo" class="file"> -->
                <button>Sign In</button><br>
                <button class="input" type="submit">Continue with Google</button>
            </form>
            <p>Already have an accout? <a href="/client/login">Login</a></p>
            
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const form = document.querySelector('form');
    
            const telError = document.querySelector('.tel.error');
            const emailError = document.querySelector('.email.error');
            const pwordError = document.querySelector('.password.error');
    
            console.log(telError);
    
            
    
            form.addEventListener('submit', async (e) => {
                e.preventDefault();
    
                let name = form.name.value;
                let email = form.email.value;
                let password = form.password.value;
                let phoneNumber = form.phoneNumber.value;

                telError.textContent = ''; // Fix: Assigning value to telError.innerHTML
            emailError.textContent = '';
            pwordError.textContent = '';
    
                console.log(name, email, password, phoneNumber);
                try {
                    const res = await fetch('/client/addClient', {
                        method: 'POST',
                        body: JSON.stringify({ name, email, password, phoneNumber }),
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    });
    
                    const data = await res.json();
                    if (data.emailError || data.passwordError || data.telNumberError){
                        
                        emailError.textContent = data.emailError;
                        telError.textContent = data.telNumberError;
                        pwordError.textContent = data.passwordError;
                    }
    
                    if (data._id) {
                        alert("Registation performed successfully")
                        location.assign('/')
                    }
                } catch (error) {
                    console.log(error);
                }
            });
        });
    </script>
    
</body>
</html>